h1{
color: hsl(330, 78%, 69%);
font-size: 36px;
margin-bottom: 0px;
}
hr{
border: 5px dotted #800080;
border-bottom: none;
margin-bottom: 20px;
}
.job{
color:#666666 ;
font-weight: bold;
}

h3{
font-style: italic;
}
.info{
border: 5px solid #800080;
background-color: #f1f1f1;
padding:15px 50px;
width: 90%;
}
.info a{
    text-decoration: none;
    color: #d63333;
}
.info a:hover{
    text-decoration: underline;
}
body{
    margin: 40px;
    font-family: Arial, sans-serif;
}
