body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .profile-container {
    width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
  }
  
  .name {
    font-size: 36px;
    color: #ff66b2;
    margin: 0;
  }
  
  .divider {
    margin: 10px auto;
    width: 100%;
    border-bottom: 10px dotted purple;
  }
  
  .title {
    font-size: 20px;
    color: #777;
    font-weight: normal;
  }
  
  .description {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .contact-header {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .contact-box {
    border: 4px solid purple;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: #d8d3d3;
  }
  
  .contact-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .contact-box li {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .contact-box a {
    color: #ff6600;
    text-decoration: none;
    
  }
  
  .contact-box a:hover {
    text-decoration: underline;
  }
  .green{
    color:green;
  }
